[submodule "apps/macos-client"]
	path = apps/macos-client
	url = https://github.com/ombori-hackathon/anttuii-macos.git
[submodule "services/api"]
	path = services/api
	url = https://github.com/ombori-hackathon/anttuii-api.git
